<!DOCTYPE html>
<html>
   <head>
      <title>Add your details here</title>
   </head>
   <body style="text-align: center;">
      <hr>
      <header style="font-size: 30px">Enter your data here</header>
      <br><br>
      
      <table align = "center">
         <form method="POST" action="insertauth" style="text-align: center; color: white; border: black;">
            <tr>
               <td style='text-align: center; font-size: 20px; '>ID:</td>
               <td><input type="text" name="reg"style='text-align: center;' placeholder="Enter ID"></p1><br><br></td>
            </tr>
            <tr>
               <td style='text-align: center; font-size: 20px; '>cc:</td>
               <td><input type="number" name="cc"style='text-align: center;' placeholder="Enter CC"></p1><br><br></td>
            </tr>
            <tr>
               <td style='text-align: center; font-size: 20px; '>Engine:</td>
               <td><input type="text" name="eng" placeholder="Enter engine"style='text-align: center;'><br><br></td>
            </tr>
            <tr>
               <td style='text-align: center; font-size: 20px; '>Battery:</td>
               <td><input type="text" name="bat" placeholder="Enter battery"style='text-align: center;'><br><br></td>
            </tr>
            <tr>
               <td style='text-align: center; font-size: 20px; '>Milage:</td>
               <td><input type="text" name="mil" placeholder="Enter milage"style='text-align: center;'><br><br></td>
            </tr>
            <tr>
               <td style='text-align: center; font-size: 20px; '>price:</td>
               <td><input type="text" name="pri" placeholder="Enter price"style='text-align: center;'><br><br></td>
            </tr>
            <tr>
               <td style='text-align: center; font-size: 20px; '>Max Power:</td>
               <td><input type="text" name="pow" placeholder="Enter max power"style='text-align: center;'><br><br></td>
            </tr>
            <tr>
               <td style='text-align: center; font-size: 20px; '>Max Torque:</td>
               <td><input type="text" name="tor" placeholder="Enter max Torque" style='text-align: center;'><br><br></td>
            </tr>
            <tr>
               <td style='text-align: center; font-size: 20px; '>Max fuel capcity:</td>
               <td><input type="text" name="cap" placeholder="Enter fuel tank capacity" style='text-align: center;'><br><br></td>
            </tr>
            <tr style="text-align: center">
               <td><input type="submit" name="register" value="Insert" style="font-size:30px;background-color: transparent; text-align: center; color: black;"></td>
            </tr>
         </form>
         <p style='text-align: center;'><button  style="font-size:30px;background-color: transparent; text-align: center; color: black;"><a href="/login" >login</a></button></p>
      </table>
   </body>